@media (max-width: 900px ) {
    .logo-cafeteria{
        max-width: 90px;
        max-height: 90px;
    }

    .site-cafe{
        max-width: 90px;
        max-height: 90px;
    }

    .cardapio{
        width: 345px;
        height: 540px;
    }

    body{
        height: 100vh;
    }
}